h1 {
margin-left: 350px;
text-shadow: 1px 1px red;
font-family: 'Montserrat', sans-serif;
font-size: 50px;
font-weight: bold;
}

.fig1 {
    margin-top: 50px;
    font-family: 
}

.cap1 {
    margin-left: 80px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 20px;
}